@font-face {
    font-family: 'SundayArtelaRegular';
    src: local('SundayArtelaRegular'), url('../fonts/SundayArtelaRegular-owrZ0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.aboutMeLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.meDescription {
    margin: 0;
    text-align: center;
}

.heading {
    font-family: 'SundayArtelaRegular', sans-serif;
    color: var(--letters);
    font-size: 60px; 
}

.aboutMeImg {
    height: 300px; 
    width: 300px; 
    border-radius: 50%;
    border: 1px solid var(--letters);
    margin-top: 20px; 
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .aboutMeLayout {
        flex-direction: row; 
    }

    .meDescription {
        margin-right: 50px;
        text-align: left; 
    }
}