@font-face {
    font-family: 'SundayArtelaRegular';
    src: local('SundayArtelaRegular'), url('../fonts/SundayArtelaRegular-owrZ0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.aboutMeLayout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.meDescription {
    margin-right: 50px;
}

.heading {
    font-family: 'SundayArtelaRegular', sans-serif;
    color: var(--letters);
    font-size: 60px;
}

.aboutMeImg {
    height: 400px;
    border-radius: 50%;
    border: 1px solid var(--letters);
}

@media screen and (max-width: 993px) {
    .aboutMeLayout {
        flex-wrap: wrap;
    }
    
    .aboutMeImg {
        margin-top: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}