@font-face {
    font-family: 'SundayArtelaRegular';
    src: local('SundayArtelaRegular'), url('../fonts/SundayArtelaRegular-owrZ0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.contactContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 100px;
}

.contactHeading {
    font-family: 'SundayArtelaRegular', sans-serif;
    color: var(--letters);
    font-size: 60px;
}

.socialMedia {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

a:link {
    text-decoration: none;
    margin: 10px;
}

a:hover {
    transform: scale(1.01);
}

.socialName {
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
}

.link {
    display: flex;
    align-items: center;
    justify-content: start;
}

.iconContact {
    height: 50px;
}

.whatsapp {
    color: green;
}

.gmail {
    color: rgb(255, 255, 255);
}

.github {
    color: black;
}

.contactMeImg {
    height: 350px;
    border-radius: 50%;
    border: 1px solid var(--letters);
    margin-bottom: 50px;
}

@media screen and (max-width: 993px) {
    .contactContainer {
        flex-wrap: wrap;
    }
    
    .contactMeImg {
        margin-top: 40px;
        margin-bottom: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}