@font-face {
    font-family: 'SundayArtelaRegular';
    src: local('SundayArtelaRegular'), url('../fonts/SundayArtelaRegular-owrZ0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.contactContainer {
    text-align: center;
    margin-top: 50px;
    width:100%;
  }

  .contactHeading {
    font-family: 'SundayArtelaRegular', sans-serif;
    color: var(--letters);
    font-size: 60px;
    padding: 0;
    margin: 0;
  }


  .socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .link {
    margin: 10px 20px;
    color: var(--letters);
    background-color: var(--light);
    padding: 20px;
    border-radius: 10px;
  }

  .iconContact {
    font-size: 40px;
    background-color: var(--light);
  }

@media screen and (max-width: 768px) {
    .socialMedia {
        display: flex;
        flex-wrap: wrap;
    }
}
