@font-face {
  font-family: 'SundayArtelaRegular';
  src: local('SundayArtelaRegular'), url('../fonts/SundayArtelaRegular-owrZ0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  background-color: var(--main);
}

body {
  margin: 0;
  padding: 0;
}

.introduction {
  margin: 4rem 5vw 0 5vw;
  text-align: center;
}

.font {
  font-family: 'SundayArtelaRegular', sans-serif;
  font-size: 29px;
}

.name {
  font-size: 36px;
  color: var(--letters);
}

@media screen and (min-width: 768px) {
  .introduction {
      margin: 4rem 10vw 0 10vw;
  }

  .name {
      font-size: 80px; 
  }
}