@font-face {
    font-family: 'SundayArtelaRegular';
    src: local('SundayArtelaRegular'), url('../fonts/SundayArtelaRegular-owrZ0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    background-color: var(--main);
  }

  .introduction {
    margin: 4rem 10rem 0 15rem;
    }

  .font {
    font-family: 'SundayArtelaRegular', sans-serif;
  }

  .name {
    font-size: 80px;
    color: var(--letters);
  }