@font-face {
    font-family: 'SundayArtelaRegular';
    src: local('SundayArtelaRegular'), url('../fonts/SundayArtelaRegular-owrZ0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prjDescriptionSide {
    margin-right: 100px;
}

.screenshot {
    height: 250px;
    background-color: var(--white);
    padding: 10px 10px 50px 10px;
}

.prjTitle {
    font-family: 'SundayArtelaRegular', sans-serif;
    color: var(--letters);
    font-size: 60px;   
}

@media screen and (max-width: 993px) {
    .container {
        flex-wrap: wrap;
    }

    .prjDescriptionSide {
        margin-right: auto;
    }
    
    .screenshot {
        margin-top: 40px;
        margin-bottom: 120px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}