@font-face {
    font-family: 'SundayArtelaRegular';
    src: local('SundayArtelaRegular'), url('../fonts/SundayArtelaRegular-owrZ0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.prjDescriptionSide {
    margin: 0;
    text-align: center; 
}

.screenshot {
    width: 100%;
    max-width: 300px; 
    height: auto;
    background-color: var(--white);
    padding: 10px;
}

.prjTitle {
    font-family: 'SundayArtelaRegular', sans-serif;
    font-size: 45px;
    color: var(--letters);
}

.prjLinks {
    flex-direction: column; 
    align-items: center;
    margin-top: 20px;
}

.singleLink {
    text-transform: uppercase;
    color: var(--dark);
    text-decoration: underline;
    text-underline-offset: 10px;
}

.singleLink:hover {
    font-weight: 600;
}


@media screen and (max-width: 993px) {
    .container {
        flex-wrap: wrap;
    }

    .prjDescriptionSide {
        margin-right: auto;
    }

    .demo {
        margin-top: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .prjLinks {
        margin-bottom: 150px;    
    }

}