@font-face {
    font-family: 'SundayArtelaRegular';
    src: local('SundayArtelaRegular'), url('../fonts/SundayArtelaRegular-owrZ0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.skillsContainer {
    text-align: center;
    margin-top: 50px;
    width:100%;
  }

  .skillsIntroduction {
    font-family: 'SundayArtelaRegular', sans-serif;
    color: var(--letters);
    font-size: 60px;
    padding: 0;
    margin: 0;
  }
  
  .change {
    height: 60px;
    overflow:hidden;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--light);
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .change > div > div {
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
  }
  
.change div:first-child {
    animation: show 10s linear infinite;
}
  
  @keyframes show {
    0% { margin-top: -680px; }
    10.1% { margin-top: -680px; }
    11.1% { margin-top: -594px; }
    21.2% { margin-top: -594px; }
    22.2% { margin-top: -508px; }
    32.3% { margin-top: -508px; }
    33.3% { margin-top: -422px; }
    43.4% { margin-top: -422px; }
    44.4% { margin-top: -336px; }
    54.5% { margin-top: -336px; }
    55.5% { margin-top: -250px; }
    65.6% { margin-top: -250px; }
    66.6% { margin-top: -164px; }
    76.7% { margin-top: -164px; }
    77.7% { margin-top: -78px; }
    87.8% { margin-top: -78px; }
    88.8% { margin-top: 0px; }
    98.9% { margin-top: 0px; }
    100% { margin-top: -680px; }
  }

  .technologiesSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

  .skillIcon {
    height: 40px;
    margin: 10px 20px;
    color: var(--letters);
    background-color: var(--light);
    padding: 20px;
    border-radius: 10px;
  }

  .skillImg {
    height: 80px;
    background-color: var(--light);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 20px;
  }

  @media screen and (max-width: 980px) {
    .technologiesSection {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    
    .skillIcon,
    .skillImg {
      margin: 10px auto;
    }
  }