@font-face {
    font-family: 'SundayArtelaRegular';
    src: local('SundayArtelaRegular'), url('../fonts/SundayArtelaRegular-owrZ0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.skillsContainer {
    text-align: center;
    margin-top: 50px;
    width:100%;
  }

  .skillsIntroduction {
    font-family: 'SundayArtelaRegular', sans-serif;
    color: var(--letters);
    font-size: 60px;
    padding: 0;
    margin: 0;
  }
  
  .change {
    height: 60px;
    overflow:hidden;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--light);

  }
  
  .change > div > div {
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
  }
  
.change div:first-child {
    animation: show 10s linear infinite;
}
  
  @keyframes show {
    0% { margin-top: -600px; }
    11.5% { margin-top: -600px; }
    12.5% { margin-top: -515px; }
    24% { margin-top: -515px; }
    25% { margin-top: -430px; }
    36% { margin-top: -430px; }
    37% { margin-top: -345px; }
    49% { margin-top: -345px; }
    50% { margin-top: -260px; }
    61.5% { margin-top: -260px; }
    62.5% { margin-top: -175px; }
    74% { margin-top: -175px; }
    75% { margin-top: -90px; }
    86.5% { margin-top: -90px; }
    87.5% { margin-top: -5px; }
    99% { margin-top: -5px; }
    100% { margin-top: -600px; }
  }

  .technologiesSection {
    text-align: center;
  }

  .skillIcon {
    height: 40px;
    margin: 10px 20px;
    color: var(--letters);
    background-color: var(--light);
    padding: 20px;
    border-radius: 10px;
  }