.hidden {
    opacity:0;
  }

.console-container {
    display:block;
    position:absolute;
  }

.console-underscore {
    display:inline-block;
    position:relative;
    left:10px;
  }

.font-appear {
    font-family: 'SundayArtelaRegular', sans-serif;
    font-size: 29px;
}

.lighter {
    color: var(--light);
    font-size: 36px;
}