@font-face {
    font-family: 'SundayArtelaRegular';
    src: local('SundayArtelaRegular'), url('../fonts/SundayArtelaRegular-owrZ0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --white: white;
    --letters: #9d8472;
    --main: #ebdbb1;
  }

.hidden {
    opacity:0;
  }

.console-container {
    display:block;
    position:absolute;
  }

.console-underscore {
    display:inline-block;
    position:relative;
    left:10px;
  }

.font-appear {
    font-family: 'SundayArtelaRegular', sans-serif;
    font-size: 29px;
}

.lighter {
    color: rgb(255, 252, 237);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--letters);
}